<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>

    <link href="{{ url_for('static', path='/toy.css') }}" rel="stylesheet">

</head>
<body>
 {% include "headder.html" %}

	<h1>Matchbox Car Form {{title_string}}</h1>

	<form method="post" action="/add">
        <label for="car_name">Name:</label>
        <input type="text" id="car_name" name="Name"><br><br>
        <label for="car_color">Color:</label>
        <input type="text" id="car_color" name="Color"><br><br>
        <label for="Year">Year:</label>
        <input type="int" id="Year" name="Year"><br><br>


        <label for="State">State-Cond</label>


        <select id="State" name="State">
        <option value="Mint">Mint</option>
        <option value="Good">Good</option>
        <option value="Fair">Fair</option>
        <option value="Poor">Poor</option>
        <option value="Damaged">Damaged</option>
      </select><br><br>


        <input type="submit" value="Submit">
    </form>


 {% include "footer.html" %}
</body>
</html>